<div class="event">
  <img src="<%= item.photo %>" class="event_image" />
  <div class="event_info">
    <h3 class="goudy event_title">
      <%= item.title %>
      <%= render :partial => "topic", :collection => item.topics %>
      <span id="urgency_tag"><%= distance_of_time_in_words(Time.now, item.occurs_at) %> from now</span>
      <span class="map"></span>
    </h3>
    <div class="event_details">
      <div class="event_description">
        <%= item.description %>
      </div>
      <div class="event_description">
        <dl>
          <dt>Call your Congressperson</dt>
          <dd>202-225-4965</dd>
          <dt>Add to Calendar</dt>
          <dd><a href="#"><img src="/assets/gc_button1.gif" /></a></dd>
          <dt>Tweet it</dt>
          <dd><a href="http://twitter.com?status=<%= item.title %>"><img src="/assets/tweetn.png" /></a></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
